body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
body{
font-family: 'Montserrat', sans-serif; 
background-color: #ffffff;
color: #000000;


}
footer{
background-color: #99e265;
position: fixed;
bottom: 0;
left:0;
width: 100%;
height: 30px;


}
.info dd{
    font-weight: bold;
    color: #a7a7a7;
}
.info dt{
    font-size: 16pt;
    margin: 5px;}

p{
        font-size: 11pt;
}
    


h1{
    color: #99e265;
    font-size: 38pt;
    padding: 5px;
}

h2{
    color: #99e265;
    font-size: 28pt;
    margin-top: 60px;


}

h3{
    color: #444444;
    font-size: 24pt;
}

h4{ font-size: 12pt;
}

h5{ font-size: 20pt;

}
h6{


}

hr{
    width: 20%;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px
}


.colorholder{
background-color: #ffffff;
box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
margin: 2% 1%;
width: 30%;
height: 8vh;


}
.kleurzelf{
width: 60%;
height: 7vh;
background-color: #94D869;
float: left;
margin: 1%;

}
.colorcode{
float: left;
background-color: #ffffff;
margin-left: 8px;
width: 30%;

}

left{
float:left;
width:45%;

}
right{
float: left;
width:45%;
    
}
p{
width: 40%;
margin-left: 1%;
}

fotosrechts{
    float: right;
    margin-right: 20px;
    size: 10%
}
#wit{
    background-color: #ffffff;
    

}
#groen{
    background-color: #94D869;
}
#grijs{
    background-color:#444444;
}
#lichtgrijs{
    background-color: #707070;
}
#zwart{
    background-color: #000000;
}


a{
    color: #000000;
}

/* navigatiebalk hover NOG INSTELLEN*/
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}



/*typografie*/
#nav{
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    background-color: #444444;
    font-size: 32px;
    padding: 20px;
    width: 100%;
    font-weight: 10;



}